body{
  background-color: aqua;
}

.errormessage{
  color: red;
  font-weight: bold;
}

.container{
  width: "parent";
  margin: 20px;
  background-color: white;  
}

.circlecut{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right:1px solid #ddd;
}

.circlecut canvas{
  width: 978px;
  height: 411px;
}

.auto-checklist{
  margin:10px;
  padding: 10px;
  border:dashed aqua 5px;
}
