body{
  background-color: rgba(0, 255, 255, 0.336);
}

.errormessage{
  color: red;
  font-weight: bold;
}

.container{
  width: "parent";
  margin: 20px;
  background-color: white;  
}

.circlecut{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-right:1px solid #ddd;
}

.circlecut canvas{
  width: 978px;
  height: 411px;
}

.auto-checklist{
  padding: 10px;
}
